<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <!-- <link rel="stylesheet" type="text/css" href="styles/mystyle.css"> -->
    <link href="https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Mulish:wght@200&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,900;1,400&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@500&display=swap" rel="stylesheet">


    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@500&family=Fira+Sans+Condensed:wght@500&display=swap" rel="stylesheet">
</head>

<!--    LENWORTH BROWN 
        WEB DEVELOPMENT 
    -->
<div class="info2" id="back" [ngStyle]="{backgroundImage:'url('+image+')'}">

    <div class="abpic">
        <img src="https://media-cdn.grubhub.com/image/upload/d_search:browse-images:default.jpg/w_300,q_100,fl_lossy,dpr_2.0,c_fit,f_auto,h_300/tc5na58bjszwntwxlveu">
    </div>
    <div class="content">
        <div style="text-align: center;">
            <h2 style="font-family: 'Exo 2', sans-serif;">Nyam and Jam With Us!!!</h2>
        </div>
        <p style="font-family: 'Fira Sans Condensed', sans-serif;">Here, cultural styles and future trends coexist, and the intricacies of Jamaican culture blend seamlessly together over some red peas soup, natural fruit juices or a hot delicious Vanilla Latte.<br><br> Nyam and Jam was born out of love and respect
            for these type of foods, combined with the desire to bring quality ingredients to the table.... Get it? <br><br>Mingle with friends and enjoy our bar or enjoy our outdoor table setting as you pleas yoor taste buds to some of jamaica's best
            dishes.
        </p>
    </div>


</div>
<div class="foot"><img src="images/PngItem_36776.png"></div>