<nav class="navbar navbar-expand-sm bg-light justify-content-center">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="employee">Employee</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="attendance">Attendance</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" routerLink="salary">Salary</a>
        </li>
    </ul>
</nav>


<div class="row">
    <div class="col-8">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-white">
                        Attendance Portal
                    </div>
                    <div class="col-6 text-right">

                    </div>
                </div>
            </div>
            <div class="card-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Sr No</th>
                            <th>Name</th>
                            <th>Contact No</th>
                            <th>Date</th>
                            <th>Clock In Time</th>
                            <th>Clock Out Time</th>
                            <th>Full Day?</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let item of attendanceArray; let sr = index">
                            <td>{{sr+1}}</td>
                            <td>{{item.empName}}</td>
                            <td>{{item.empContactNo}}</td>
                            <td>{{item.AttendanceDate | date: 'dd-MMM-yyyy'}}</td>
                            <td>{{item.InTime | date: 'hh-mm'}}</td>
                            <td>{{item.OutTime | date: 'hh-mm'}}</td>
                            <td>{{item.IsFullDay? 'Yes': 'No'}}</td>
                            <td>
                                <button class="btn btn-success btn-sm" (click)="onEdit(item.AttendanceId)">Edit</button>
                                <button class="btn btn-danger btn-sm mx-2" (click)="onDelete(item.AttendanceId)">Delete</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <div class="col-4">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-white">
                        New Employee
                    </div>
                    <div class="col-6 text-right">

                    </div>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-6">
                            <label for="">Select Employee</label>
                            <select name="employeeId" class="form-control" [(ngModel)]="attendanceObj.EmployeeId">
								<option *ngFor="let emp of employeeArray" [value]="emp.empId">{{emp.empName}}</option> 
							</select>
                        </div>
                        <div class="col-6">
                            <label for="">Attendance Date</label>
                            <input type="date" class="form-control" name="attendanceDate" [(ngModel)]="attendanceObj.AttendanceDate">
                        </div>
                        <div class="col-6">
                            <label for="">Clock In Time</label>
                            <input type="text" class="form-control" name="inTime" [(ngModel)]="attendanceObj.InTime">
                        </div>
                        <div class="col-6">
                            <label for="">Clock Out Time</label>
                            <input type="text" class="form-control" name="outTime" [(ngModel)]="attendanceObj.OutTime">
                        </div>
                        <div class="col-6">
                            <label for="">Full Day?</label>
                            <input type="checkbox" name="isFullDay" [(ngModel)]="attendanceObj.IsFullDay">
                        </div>

                    </div>
                    <div class="row pt-3">
                        <div class="col-6 text-center">
                            <button class="btn btn-secondary btn-sm">Reset</button>
                        </div>
                        <div class="col-6 text-center">
                            {{attendanceObj.AttendanceId}}
                            <button class="btn btn-secondary btn-sm" *ngIf="attendanceObj.AttendanceId == 0" (click)="onSave()">Save Employee</button>
                            <button class="btn btn-warning btn-sm" *ngIf="attendanceObj.AttendanceId !== 0" (click)="onUpdate(attendanceObj.AttendanceId)">Update Employee</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</div>